body{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/modern-office-business-background-businessman-with-laptop-computer-charts-and-graphs-from-above_rqba_h35a_thumbnail-full01.png');
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-blend-mode: multiply,multiply;    
    height: 150vh;
    font-family: Open Sans Condensed ;
}

#chart_div{
    opacity: 0.8;
    width: 100px;
    height: 30px;
}

#mainTitle {
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}