body{
    background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/6061136/910/421/m2/fpnw/wm1/zcpakzizelkxaxr3bw1qg4bmanorl01co33cufdxabztywoy3akuhkeqitm5a1p8-.jpg?1552513528&s=ff5e68f6dd8087503f33a211a1372c24');
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-blend-mode: multiply,multiply;    
    height: 150vh;
    font-family: Open Sans Condensed ;
}

#welcome {
    font-size:70px;
    font-weight: bold;
    font-family: Noto Sans;
    color: white;
    margin-left: 30%;
    margin-bottom: 2%;
}

#homeContainer {
    font-size:20px;
    height:80vh;
    width: 65vw;
    border-radius: 20px;
    font-weight: bold;
        font-size: 2em;
        line-height: 200px;
        text-align: center;
        background-color: silver;
        margin-left: 30%; 
        font-family: PT Sans;
        opacity: 0.5;
        -webkit-box-shadow: 0px 0px 30px 11px #ddcdcd; 
        box-shadow: 0px 0px 30px 11px #ffffff;      
}

#clories{
    
    background-position: center ;
    background-size: 70% 100% ; 
    color: black;
    background-repeat: no-repeat ; 

    
}

.val{
height:20vh;
color: blue ; 

}

